<!DOCTYPE html>
<html>
	<head>
		<title>Tagged files for <%= tagName %></title>
		<link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'></link>
	</head>
	<body>
		Results that match tagName: <%= tagName %>
    	<ul>
		<% for(var i=0; i < results.length; i++) { %>
			<% if (results[i]){ %>
				<li><img src='/single?id=<%= results[i].fileId %>'></img></li>
			<% } %>
		<% } %>
		</ul>
	</body>
</html>